<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">

      <%= javascript_pack_tag 'jsgame/game02' %>
        <div>
        
          <div class="gamebox">
            <span id="game_targetLeft" class="title is-1"></span><span id="game_target" class="title is-1">click to start!</span>
          </div>


          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-content">

                  <% if user_signed_in? %>
                    <%= form_for @game do |f| %>

                      <% if @game.score == nil %>

                        <div>
                          <input type="button" class="button is-info" value="click to start" id="start_button">
                          <%= f.submit 'スコア更新', id: "btnUpd", class: "button is-success" %>
                        </div>

                        <br>
                        <div class="container">
                          <div class="columns is-multiline">
                            <div class="column is-2">
                              <input type="button" class="button is-primary" value="回答１" id="btnjs1">
                            </div>
                            <div class="column is-2">
                              <input type="button" class="button is-info" value="回答２" id="btnjs2">
                            </div>
                            <div class="column is-2">
                              <input type="button" class="button is-success" value="回答３" id="btnjs3">
                            </div>
                            <div class="column is-2">
                              <input type="button" class="button is-warning" value="回答４" id="btnjs4">
                            </div>
                          </div>
                        </div>

                        <div class="title is-5">
                            HIGH SCORE：<span id="game_lblhighscore">0</span> / SCORE：<span id="game_lblscore">0</span>
                            <%= f.hidden_field :gamecode, class: "input" %>
                            <%= f.hidden_field :score, class: "input", value: "0" %>
<% 
=begin
# END までコメントアウト
# デバッグ用に残します
%>
                            <%= f.label :score, "スコア", class: "label" %>
                            <%= f.text_field :score, class: "input", value: "0" %>
                            <%= f.text_field :gamecode, class: "input" %>
<%
=end
%>
                        </div>

                      <% else %>
                        <div>
                          <input type="button" class="button is-info" value="click to start" id="start_button">
                          <%= f.submit 'スコア更新', id: "btnUpd", class: "button is-success" %>
                        </div>

                        <br>
                        <div class="container">
                          <div class="columns is-multiline">
                            <div class="column is-2">
                              <input type="button" class="button is-primary" value="回答１" id="btnjs1">
                            </div>
                            <div class="column is-2">
                              <input type="button" class="button is-info" value="回答２" id="btnjs2">
                            </div>
                            <div class="column is-2">
                              <input type="button" class="button is-success" value="回答３" id="btnjs3">
                            </div>
                            <div class="column is-2">
                              <input type="button" class="button is-warning" value="回答４" id="btnjs4">
                            </div>
                          </div>
                        </div>

                        <div class="title is-5">
                            HIGH SCORE：<span id="game_lblhighscore"><%= @game.score %></span> / SCORE：<span id="game_lblscore">0</span>
                            <%= f.hidden_field :gamecode, class: "input" %>
                            <%= f.hidden_field :score, class: "input" %>
                        </div>

                      <% end %>
                    <% end %>

                  <% else %>

                      <div>
                        <input type="button" class="button is-info" value="click to start" id="start_button">
                        <input type="button" value="ランキング表へ" id="btnUpd" class="button is-success" onclick="location.href='/games'">
                        <p class="title is-5">※ログインしない場合、ランキング情報は保存されません。</p>
                      </div>

                      <div class="field">
                          <input class="input" value="0" type="hidden" id="game_lblhighscore">
                          <input class="input" value="0" type="hidden" id="game_lblscore">
                          <input class="input" value="0" type="hidden" name="game[score]" id="game_score">
                      </div>
                  <% end %>

                  <div class="title is-5">
                    成功数：<span id="game_success">0</span> / Miss: <span id="game_miss">0</span>
                  </div>
                  <div class="title is-5">
                     <span id="game_timer">制限時間：20秒</span>
                  </div>
                  <div>
                    <progress id="game_progress" class="progress is-primary" value="0" max="2000"></progress>
                  </div>

              </div>
            </div>
          </div>
        </div>

      <% if user_signed_in? %>

        <%= form_for @game do |f| %>


        <% end %>

      <% else %>


      <% end %>

      </div>
    </div>
  </div>
</section>
