<section class="hero is-black">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        ランキング表
      </h1>
      <p class="control">
        <%= link_to "ゲームタイピング", games_path('frmgamecode': 1), class: "button is-success" %>
        <%= link_to "クイズゲーム", games_path('frmgamecode': 2), class: "button is-success" %>
        <%= link_to "準備中", games_path('frmgamecode': 3), class: "button is-success" %>
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">

    <% @@intCnt = 1 %>

    <% @games.each do |game| %>

        <div class="column is-5">
          <div class="card">

            <div class="card-content">
              <div class="media">

                <div class="media-content">
                  <div class="title is-5"><%= @@intCnt %>位</div>
                </div>
                <% @@intCnt += 1 %>

                <div class="media-content">
                  <div class="title is-5"><%= game.user.username %></div>
                </div>
                <div class="media-content">
                  <div class="title is-5">SCORE：<%= game.score %></div>
                </div>
                <div class="content">
                  <div class="title is-5">最終更新日：<time><%= game.updated_at.strftime("%Y-%m-%d") %></time></div>
                </div>
              </div>
            </div>
          </div>
        </div>

    <% end %>

  </div>
</section>
