<section class="hero is-black">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        ランキング表
      </h1>
      <p class="control">

      <% if params["frmgamecode"] == nil %>
        <%= link_to "ゲームタイピング", games_path('frmgamecode': 1), class: "button is-info" %>
        <%= link_to "クイズゲーム", games_path('frmgamecode': 2), class: "button is-success" %>

      <% else %>
        <% if params["frmgamecode"] == '1' %>
          <%= link_to "ゲームタイピング", games_path('frmgamecode': 1), class: "button is-info" %>
        <% else %>
          <%= link_to "ゲームタイピング", games_path('frmgamecode': 1), class: "button is-success" %>
        <% end %>

        <% if params["frmgamecode"] == '2' %>
          <%= link_to "クイズゲーム", games_path('frmgamecode': 2), class: "button is-info" %>
        <% else %>
          <%= link_to "クイズゲーム", games_path('frmgamecode': 2), class: "button is-success" %>
        <% end %>

      <% end %>
  
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">

    <% @@intCnt = 1 %>

    <% @games.each do |game| %>

        <div class="column is-5">
          <div class="card">

          <% if user_signed_in? %>
            <% if game.user.id == current_user.id %>
              <div class="ranking_card">
            <% end %>
          <% end %>

                <div class="card-content">
                  <div class="media">

                    <div class="media-content">
                      <div class="title is-5"><%= @@intCnt %>位</div>
                    </div>
                    <% @@intCnt += 1 %>

                    <div class="media-content">
                      <div class="title is-5"><%= game.user.username %></div>
                    </div>
                    <div class="media-content">
                      <div class="title is-5">SCORE：<%= game.score %></div>
                    </div>
                    <div class="content">
                      <div class="title is-5">最終更新日：<time><%= game.updated_at.strftime("%Y-%m-%d") %></time></div>
                    </div>

        
                  </div>
                </div>

          <% if user_signed_in? %>
            <% if game.user.id == current_user.id %>
              </div>
            <% end %>
          <% end %>

          </div>
        </div>

    <% end %>
  </div>
</section>
